<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="icon" type="image/x-icon" href="icons8-wish-list-100.png">
    <link rel="stylesheet" href="styles\layout.css">
</head>
<body>
    <!-- <div class="nav-links" id="navLinks">   
        <ul>
            <li><a href="views\index.ejs">To Do</a></li>
            <li><a href="\index.ejs">Work</a></li>    
        </ul>
        
    </div>  -->
      <main class="container">